@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.form-label{
  @apply block text-gray-700 text-xs font-bold;
}

.d2c{
  background: #0573c0;
  background: linear-gradient(90deg, #0572c0 15%, #92d050 100%);
  text-shadow: 1px 1px 4px black;
  font-size: large;
  color: white !important;
}
.c2d{
  background: #0573c0;
  background: linear-gradient(0deg, #0572c0 15%, #92d050 100%);
  text-shadow: 1px 1px 4px black;
  color: white !important;
}

select{
  @apply my-1 px-2 py-2 border-gray-500 rounded-md shadow-sm bg-gray-50 text-gray-900
}

